 * {
     margin: 0;
     font-family: arial;
 }
 
 .portada_logo {
     width: 30%;
 }
 
 .menu {
     text-align: center;
 }
 
 nav ul {
     width: 80%;
     overflow: hidden;
     /* que se adapte a lo que contiene */
     margin: auto;
     list-style: none;
     margin: auto;
 }
 
 .menu li {
     width: 15%;
     padding: 10px;
     display: inline-block;
     /* solucion cutre*/
 }
 
 .menu li a {
     display: block;
     color: white;
     background-color: #1f4b81;
     text-decoration: none;
 }
 
 .menu li a:hover {
     background-color: white;
     color: #1f4b81;
 }
 
 .footer {
     margin-top: 20px;
     height: 200px;
     background-color: rgba(128, 128, 128, 0.187);
 }